:root {
    --background-color: #634c77;
    --clock-color: #d3d3d3;
    --clock-size: 300px;
    --clock-indicator-size: 10px;
    --rotate-duration: 10s;
    --hour-animation-duration: calc(var(--rotate-duration) / 2);
    --hour-size: 20px;
}

body {
    margin: 0;
    padding: 0;
}

.wrapper {
    height: 100%;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    background: var(--background-color);
}

.clock {
    position: relative;
    width: var(--clock-size);
    height: var(--clock-size);

    border-radius: 50%;
}

.indicator {
    position: absolute;
    top: 50%;
    left: 50%;

    width: var(--clock-indicator-size);

    background-color: var(--clock-color);

    &.rotate {
         animation: rotate var(--rotate-duration) infinite linear;
         transform-origin: top;

        & .grow {
            animation: grow var(--rotate-duration) infinite linear;
        }
    }
}

.hour {
    position: absolute;
    top: 50%;
    left: 50%;

    width: var(--hour-size);
    height: var(--hour-size);

    background-color: var(--clock-color);
    transform-origin: bottom;

    animation: itsTime var(--hour-animation-duration) infinite linear;

    @for $i from 1 to 13 {
        &:nth-child($i) {
            transform: translateX(-50%) rotate(calc($i * 30deg)) translateY(calc(var(--clock-size) / -2)) rotate(calc($i * -30deg));
            animation-delay: calc(calc($i - 1) * var(--hour-animation-duration) / 12);
        }
    }
}

@keyframes rotate {
    0%  {
        transform: rotate(180deg);
    }
    50% {
        transform: rotate(540deg);
    }
    100% {
        transform: rotate(900deg);
    }
}

@keyframes grow {
    /*0h*/
    0%  {
        height: calc(12 * var(--clock-indicator-size));
    }
    /*1h*/
    4.16% {
        height: calc(11 * var(--clock-indicator-size));
    }
    /*2h*/
    8.33% {
        height: calc(10 * var(--clock-indicator-size));
    }
    /*3h*/
    12.5% {
        height: calc(9 * var(--clock-indicator-size));
    }
    /*4h*/
    16.66% {
        height: calc(8 * var(--clock-indicator-size));
    }
    /*5h*/
    20.83% {
        height: calc(7 * var(--clock-indicator-size));
    }
    /*6h*/
    25% {
        height: calc(6 * var(--clock-indicator-size));
    }
    /*7h*/
    29.16% {
        height: calc(5 * var(--clock-indicator-size));
    }
    /*8h*/
    33.33% {
        height: calc(4 * var(--clock-indicator-size));
    }
    /*9h*/
    37.5% {
        height: calc(3 * var(--clock-indicator-size));
    }
    /*10h*/
    41.66% {
        height: calc(2 * var(--clock-indicator-size));
    }
    /*11h*/
    48.33% {
        height: calc(1 * var(--clock-indicator-size));
    }
    /*12h*/
    50% {
        height: calc(1 * var(--clock-indicator-size));
    }
    /*13h*/
    54.16% {
        height: calc(1 * var(--clock-indicator-size));
    }
    /*14h*/
    58.33% {
        height: calc(2 * var(--clock-indicator-size));
    }
    /*15h*/
    62.5% {
        height: calc(3 * var(--clock-indicator-size));
    }
    /*16h*/
    66.66% {
        height: calc(4 * var(--clock-indicator-size));
    }
    /*17h*/
    70.83% {
        height: calc(5 * var(--clock-indicator-size));
    }
    /*18h*/
    75% {
        height: calc(6 * var(--clock-indicator-size));
    }
    /*19h*/
    79.16% {
        height: calc(7 * var(--clock-indicator-size));
    }
    /*20h*/
    83.33% {
        height: calc(8 * var(--clock-indicator-size));
    }
    /*21h*/
    87.5% {
        height: calc(9 * var(--clock-indicator-size));
    }
    /*22h*/
    91.66% {
        height: calc(10 * var(--clock-indicator-size));
    }
    /*23h*/
    95.83% {
        height: calc(11 * var(--clock-indicator-size));
    }
    /*24h*/
    100% {
        height: calc(12 * var(--clock-indicator-size));
    }
}

@keyframes itsTime {
    0% {
        opacity: 1;
    }
    12.5% {
        opacity: 0;
    }
    25% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}
