:root {
    --book-color: darkslategrey;
    --book-border-color: cornsilk;
    --book-border-margin: 5px;
    --book-border: var(--book-border-margin) solid var(--book-border-color);
    --book-width: 100px;
    --book-height: 60px;
}

    body {
        margin: 0;
        padding: 0;
    }

    .wrapper {
        display: flex;
        align-items: center;
        justify-content: center;

        height: 100%;
        width: 100%;

        background: var(--book-color);
    }

    .book {
        position: relative;

        border: var(--book-border);

        width: var(--book-width);
        height: var(--book-height);
    }

    .page {
        position: absolute;
        top: calc(-1 * var(--book-border-margin));
        right: calc(-1 * var(--book-border-margin));

        border-top: var(--book-border);
        border-bottom: var(--book-border);
        border-right: var(--book-border);

        width: calc(var(--book-width) / 2);
        height: var(--book-height);

        transform-origin: 0 50%;
        animation: flip 1.2s infinite linear;
        animation-fill-mode: forwards;

        @for $i from 1 to 3 {
            &:nth-child($i) {
                animation-delay: calc(1.4s * $i);
            }
        }
    }

    @keyframes flip {
        0% {
            transform: perspective(600px) rotateY(-0deg);
        }

        20% {
            background: color-mod(var(--book-color) l(-10%));
        }

        29.9% {
            background: color-mod(var(--book-color) l(-10%));
        }

        30% {
            transform: perspective(200px) rotateY(-90deg);
            background: var(--book-border);
        }

        54.999% {
            opacity: 1;
        }

        55% {
            opacity: 0;
        }

        60% {
            transform: perspective(200px) rotateY(-180deg);
            background: var(--book-border);
        }

        100% {
            transform: perspective(200px) rotateY(-180deg);
            background: var(--book-border);
        }
    }